<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>기본페이지</title>
    <!--    <style layout:fragment="style"></style>-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
          integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>

    <style th:include="~{fragments/header::headerStyle}"></style>
    <style layout:fragment="style">
        #wrap {
            min-width: 1500px;
        }
        #header {
            width: 1400px;
            margin: 0 auto;
        }
        #container{
            position: relative;
            width: 1400px;
            margin: 0 auto;
            padding-bottom: 50px;
        }
    </style>

</head>
<body>
<div id="wrap">
    <div id="header">
        <header th:include="~{fragments/header::header}"></header>
    </div>
    <div id="container">
        <section>
            <!-- 각 페이지의 본문(Content)로 대체z될 부분 -->
            <div layout:fragment="content"></div>
        </section>
    </div>
</div>
<script layout:fragment="script"></script>
</body>
</html>